// base color
$blue:#324157;
$light-blue:#15b7fd;
$red:#C03639;
$pink: #E65D6E;
$green: #1fbe1a;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#3779ba;
$menuActiveText:#002e7e;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#c4ecff;
$menuHover:#88d7fc;

$subMenuBg:#364557;
$subMenuHover:#1c3247;

$sideBarWidth: 12vw;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
